  .pagination-wrapper {
color: var(--light-text);
display: flex;
flex-direction: column;
row-gap: 16px;
justify-content: space-between;
align-items: center;
margin-top: 30px;
  }  

  .pagination-buttons {
    display: flex;
    gap: 12px;

  }

  .page-button {
    width: 26px;
    height: 24px;
    background-color: var(--button-fill);
    border: 1px solid var(--button-stroke);
    border-radius: 4px;
    cursor: pointer;
  }